body {
  background: url("wallpaper.webp") no-repeat center center fixed;
  background-size: cover;
  margin: 0px;
}
*:not(h1) {box-sizing: border-box; font-family: "Inter", sans-serif; font-size: 14px; transition: cubic-bezier(.17,.67,0,.83) 0.3s; transition-property: font-size;}

a { text-decoration: none; color: #bb7ff0; }
a:hover { text-decoration: underline; }

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,0.5); border-radius: 5px; }

.fullscreen { text-align: center; transition: 0.3s; width: 100%; height: 100%; position: fixed; top:0; z-index: 253; padding: 75px; }
.fullscreen div {
  text-align: center;
  display: inline-block;
  margin: 30px;
}
.fullscreen div img { height: 80px; width: 80px; }
.fullscreen div img:hover { filter: brightness(70%); }

.dock {
  width: 100%;
  text-align: center;
  background-color: rgb(50,50,50);
  color: white;
  border-radius: 5px 5px 0px 0px;
  cursor: default;
  padding: 7px;
  position: fixed;
  bottom: 0;
  z-index: 254;
}
.dock img {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  transition: cubic-bezier(.17,.67,0,.83) 0.3s;
  height: 50px;
  width: 50px;
}
.dock img:hover {
  filter: brightness(70%);
  margin-left: 20px;
  margin-right: 20px;
  transform: translateY(-15px) scale(1.5);
}
.dock .menubarButton { float: left; }
.dock .menubarObject { float: right; }

.contextMenu {
  position: relative;
  background-color: rgb(50,50,50);
  color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin: 5px;
  box-shadow: 0px 0px 32px rgba(0,0,0,0.7);
  transition: cubic-bezier(.17,.67,0,.83) 0.1s;
  cursor: default;
  z-index: 255;
}
.contextMenuSelection {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.contextMenuSelection img { width: 20px; height: 20px; }
.notAllowed {
  color: rgba(255,255,255,0.3);
  cursor: not-allowed;
}
.contextMenuSeparator {
  border-top: 1px solid rgba(255,255,255,0.3);
  height: 1px;
  margin: 5px 0 5px 0;
}

.window {
  position: fixed;
  box-shadow: 0px 0px 32px rgba(0,0,0,0.7);
  z-index: 1;
  transition: all 0.5s, top cubic-bezier(.17,.67,0,.83) 0.1s, opacity 0.2s, transform 0.2s;
  border-radius: 5px;
}
.windowTitleBar {
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px 5px 0px 0px;
  padding: 7px;
  padding-left: 10px;
  color: white;
  cursor: default;
  text-align: center;
}
.windowTitleBar ui { margin-right: 3.5rem; }
.windowBody {
  background-color: rgb(50,50,50);
  color: #ebebeb;
  border-radius: 0px 0px 5px 5px;
  padding: 15px;
  height: 100%;
  resize: both;
  overflow: auto;
}
.blur {
  color: rgb(240,240,240);
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(20px);
}
h1 { margin-top: 10px; margin-bottom:10px; }
.windowAction {
  background-color: transparent;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.4em;
  margin-top: -0.05em;
  float: left;
}
.windowAction img {
  height: 0.95rem;
  width: 0.95rem;
}
.windowAction img:hover { filter: brightness(50%); }
.windowAction img:active { filter: brightness(30%); }

input, button, textarea, select {
  background-color: rgba(0,0,0,0.3);
  color: #ebebeb;
  border-radius: 5px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border: none;
  outline: none;
}
input[type="color"] {
  padding:2px;
}
option {
  background-color: black;
  color: #ebebeb;
  outline: none;
}
button[disabled], input[disabled], textarea[disabled], select[disabled] {
  background: rgba(0,0,0,0.15);
  color: rgba(255,255,255,0.3);
  cursor: not-allowed;
}
.chboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  user-select: none;
}
.chboxContainer input { display: none; }
.chboxContainer input:checked ~ .checkmark { color: white; }
.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  padding-left: 5px;
  padding-right: 4px;
  background-color: rgba(0,0,0,0.3);
  color: transparent;
  border-radius: 5px;
}
input[type="range"] { -webkit-appearance: none; height: 3px; }
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: silver;
}
input[type="range"]::-webkit-slider-thumb:hover { background: gray; }
.menubar {
  background-color: transparent;
  padding: 5px;
  border-radius: 0;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  color: white;
  border-radius: 0px 0px 5px 5px;
  cursor: default;
}
.menubarButton, .menubarObject {
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  border-radius: 5px;
}
.menubarButton:hover, button:hover, .checkmark:hover:not(.notAllowed), select:hover, .contextMenuSelection:hover:not(.notAllowed), ::-webkit-scrollbar-thumb:hover { background-color: rgba(3,169,255,0.5); }
.menubarButton:active, button:active, .checkmark:active:not(.notAllowed), select:active, .contextMenuSelection:active:not(.notAllowed), ::-webkit-scrollbar-thumb:active { background-color: #004b8a; }

.desktopIcon {
  color: white;
  text-shadow: 0px 0px 5px #000000;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}
.desktopIcon img { width: 75px; height: 75px; }
.desktopIcon:hover {
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(5px);
}
